body{
    background-color: rgb(255,255,153);
    margin: 20px;
    font-size: 20px;
    height:500vh;
    position: relative;
    text-align: center; 
}
img{
    width:500px;
}





body{
    animation: colorchange 50s; 

}

@keyframes colorchange { 
    0% { background: rgb(255,255,153);}
    25% {background:rgb(240,128,128);}
    50% {background: rgb(175,238,238);}
    75% { background: rgb(240,255,255);}
    100%{background: rgb(230,230,250);}
}
h1{
    font-family: 'Kurale', serif;
}
.description{
    font-family: 'Cutive Mono', monospace;

}

.top {
    display: flex; 
}

.col-md-6 img{
    width: 200px;
}